* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
    display: grid;
    grid-template: 150px 1fr / 275px 1fr;
}

.clickable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sidebar {
    grid-row: 1 / 3;
    z-index: 1; 

    display: flex;
    flex-direction: column;
    gap: 60px;

    color: white;
    background-color: #059669;

    padding: 24px;
}

.sidebar-top {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
}

.sidebar-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sidebar-row {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(106%);
}

.sidebar-title {
    font-size: 30px;
    font-weight: 700;
}

.menu-item {
    font-size: 18px;
    font-weight: 700;
}

.menu-icon {
    width: 25px;
    filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(106%);
}

.header {
    grid-row: 1 / 2;
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-rows: 2fr 3fr;

    box-shadow: 0 3px 7px 1px black; 

    padding: 15px;
}

.header-one {
    display: grid; 
    grid-template-columns: 30px 9fr 30px 50px 1fr;  
    gap: 15px;
    align-items: center;
}

input[type="search"] {
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 10px;
    height: 27px;  
    padding: 5px 10px;
    
    width: 90%;
}

input[type="search"]:focus {
    outline: none;
    border: 2px solid rgb(0, 130, 200);
}

.profile {
    font-weight: 700;
    justify-self: left;  
}

.header-two {
    display: grid;
    grid-template-columns: 50px minmax(400px, 2fr) 1fr; 
    gap: 30px;
    align-items: center; 
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.btn {
    background-color: #059669;
    color: white;
    font-weight: 700;

    padding: 15px 30px;

    border-radius: 20px;
    border: none;
}

.btn:hover {
    background-color: rgb(0, 150, 20);
}

.btn:active {
    background-color: rgb(0, 105, 32);
}

.greeting {
    display: grid; 
    grid-template-rows: 1fr 2fr;
}

.greeting-top {
    font-size: 15px;
    font-weight: 700;
}

.greeting-bottom {
    font-size: 30px;
    font-weight: 700;
}

.profile-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-icon-large {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.main-content {
    grid-row: 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 4fr 2fr; 
    gap: 30px;

    padding: 30px;
    background-color: rgb(209, 209, 209);
}

.section-title {
    font-size: 20px;
    font-weight: 700;
}

.projects {
    display: flex; 
    flex-direction: column;
    gap: 20px;

    grid-area: 1 / 1 / 3 / 2; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
} 

.card {
    padding: 20px 15px;

    background-color: white;
    box-shadow: 2px 3px 4px black; 
    
    border-radius: 10px;
    border-left: 9px solid #059669;

    display: grid;
    grid-template-rows: 30px 1fr 30px;
    gap: 10px;
}

.project-title {
    font-size: 18px;
    font-weight: 700;
}

.project-content {
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.project-actions {
    justify-self: right;  

    display: flex;
    gap: 10px;
}

.action-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding:
}

.announcement-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    background-color: white;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0 3px 4px black; 
}

.announcement-title {
    font-size: 16px;
    font-weight: 700;
}

.announcement-info {
    color: rgb(100, 100, 100);
}

.trending {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 20px;

    grid-area: 2 / 2 / 3 / 3; 
}

.trending-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;

    background-color: white;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px black;
}


.influencer {
    display: flex;
    gap: 20px;
}

.bio {
    color: rgb(100, 100, 100);
}

