* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
    display: grid;
    grid-template: 150px 1fr / 275px 1fr;
}

.sidebar {
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 60px;

    color: white;
    background-color: rgb(0, 130, 200);

    padding: 15px;
}

.sidebar-top {
    display: flex;
    gap: 20px;
}
.sidebar-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sidebar-row {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 30px;
}

.sidebar-title {
    font-size: 35px;
    font-weight: 700;
}

.menu-item {
    font-size: 20px;
    font-weight: 700;
}

.menu-icon {
    width: 20px;
    height: 20px;
    color: white;
}

.header {
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 2fr 3fr;

    box-shadow: 2px 2px 5px black;

    padding: 15px;
}

.header-one {
    display: grid; 
    grid-template-columns: 30px 9fr 30px 50px 1fr;
}

input[type="search"] {
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 10px;
    padding: 3px 5px;
    
    width: 90%;
}

input[type="search"]:focus {
    outline: none;
    border: 2px solid rgb(0, 130, 200);
}

.header-two {
    display: grid;
    grid-template-columns: 50px minmax(400px, 2fr) 1fr; 
    gap: 30px;
    align-items: center; 
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.btn {
    background-color: rgb(0, 130, 200);
    color: white;
    font-weight: 700;

    padding: 15px 30px;

    border-radius: 20px;
    border: none;
}

.btn:hover {
    background-color: rgb(0, 100, 200);
}

.btn:active {
    background-color: rgb(0, 70, 200);
}

.greeting {
    display: grid; 
    grid-template-rows: 1fr 2fr;
}

.greeting-top {
    font-size: 15px;
}

.greeting-bottom {
    font-size: 30px;
}

.main-content {
    grid-row: 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 4fr 2fr; 
    gap: 30px;

    padding: 30px;
    background-color: rgb(172, 172, 172);
}

.section-title {
    font-size: 20px
}

.projects {
    display: flex; 
    flex-direction: column;
    gap: 20px;

    grid-area: 1 / 1 / 3 / 2; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
} 

.card {
    padding: 20px 15px;

    background-color: white;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    border-left: 5px solid rgb(255, 196, 0);

    display: grid;
    grid-template-rows: 30px 1fr 30px;
}

.project-title {
    font-size: 18px;
}

.project-content {
    font-size: 15px;
}

.project-actions {
    align-self: right;

    display: flex;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcement-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    background-color: white;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 20px;

    grid-area: 2 / 2 / 3 / 3; 
}

.trending-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;

    background-color: white;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}


